body {
  background-color: rgb(14, 29, 45);
  height: 100%;
  text-align: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.display {
  margin-top: 5%;
  /* background-color: rgb(100, 120, 141); */
  border-radius: 15px;
  padding: 5px;
}

.div1 {
  /* margin-top: 1%; */
  font-size: 25px;
  min-height: 20px;
  border-radius: 15px;
  text-align: center;
  padding-bottom: 5px;
}
.div2 {
  border-radius: 15px;
  padding: 5%;
  text-align: center;

  min-height: 35px;
  margin-left: 2%;
  margin-right: 2%;
}
.div3 {
  border-radius: 15px;
  color: aliceblue;
  text-align: center;

  height: 50px;
  font-size: 25px;
}
.div4 {
  border-radius: 15px;
  color: aliceblue;
  text-align: center;

  height: 50px;
  font-size: 25px;
}

.span {
  display: inline;
  font-size: 30px;
  /* background-color: rgb(229, 238, 238); */
  color: wheat;
  margin: 3px;
  border-radius: 5px;
  padding-left: 1%;
  padding-right: 1%;
  /* border-color: black; */
  border: solid 1px;

  padding-top: 5px;
  padding-bottom: 10px;
}
.span2 {
  display: inline;
  font-size: 30px;
  /* background-color: rgb(229, 238, 238); */
  color: wheat;
  margin: 1px;
  border-radius: 5px;
  margin-right: 5px;

  padding-top: 5px;
  padding-bottom: 10px;
}

.btn-next {
  position: absolute;
  top: 80%;
  left: calc(90vw / 2);
  width: 10%;
  height: 8%;
  padding: 10px;

  border-radius: 10px;
  border: none;
  margin-top: 50px;
}
.hide {
  display: none;
}

@media (max-width: 500px) {
  .span2 {
    font-size: 20px;
  }
  .span {
    font-size: 30px;
    margin: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .div2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    margin-bottom: 150px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 5%;
    min-height: 35px;
  }
  .div1 {
    position: absolute;
    /* top: 10%; */
    left: 0px;

    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    margin: 20px;
    margin-top: 250px;
  }

  .display {
    margin-top: 20%;
  }

  .btn-next {
    position: absolute;
    top: 85%;
    left: calc(70vw / 2);

    width: 30%;
  }
  .div3 {
    font-size: 20px;
    /* margin-top: 70px; */
  }
  .div4 {
    font-size: 20px;
  }
}

@media (max-height: 500px) {
  .display {
    margin-top: 1%;
  }
  .btn-next {
    position: absolute;
    top: 75%;
    left: calc(70vw / 2);
    width: 30%;
  }
}

@media (max-width: 380px) {
  .div1 {
    position: absolute;
    top: 0%;
    left: 0px;
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    margin: 20px;
    margin-top: 300px;
  }
  .div2 {
    margin-bottom: 100px;
  }
}
